header {
  height: 210px;
}

.header-dark-theme {
  /* background: url('./assets/images/bg-desktop-dark.jpg'); */
  background: url('./assets/images/bg-mobile-dark.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.header-light-theme {
  background: url('./assets/images/bg-desktop-light.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}